<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Tailwind css -->
  <link rel="stylesheet" href="css/output.css">
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <style>
    body {
      height: 100%;
      overflow: auto;
      /* Cambiado a auto */
      background-color: #212121;
      color: white;
    }

    .scrollbar {
      overflow-y: scroll;
      height: 100%;
      height: calc(100vh - 100px);
      /* scrollbar-width: thin; */
      scrollbar-color: #424242 #222222;
    }

    .scrollbar::-webkit-scrollbar {
      width: 32px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background-color: #424242;
      border-radius: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
      background: #222222;
    }
  </style>

</head>

<body class="bg-[#212121] text-white">


  <main class="scrollbar scroll-smooth">
    <div class="container mx-auto relative pt-5 md:max-w-[1000px]">
      <!-- Este ul es donde se ven todos los mensajes -->
      <ul class="flex flex-col gap-10">
      </ul>


      <!-- Send Message User -->
      <!-- Aqui envio el mensaje del usuario -->
      <div class="fixed bottom-0 left-0 right-0 bg-[#212121]" id="divForm">
        <form id="form" class="mb-10 mt-3 container mx-auto md:max-w-[1000px]">
          <div class="flex gap-4">
            <input type="text" placeholder="Envia un mensaje a ChatBot" class="py-3 px-3 rounded-2xl outline-none bg-[#363636] flex-grow">
            <button type="submit" class="bg-[#363636] py-3 px-4 rounded-2xl flex items-center justify-center gap-2 hover:bg-white hover:text-black transition-colors duration-300 ease-in-out">
              <i class="i-streamline-send-email text-lg"></i>
              <span>Enviar</span>
            </button>
          </div>
        </form>
      </div>


      <!-- Template -->

      <!-- Estos son templates no aparecen en la pagina los uso como guia para que js los ponga en el DOM -->
      <!-- Este es el template de como se va ver el mensaje del usuario -->
      <template id="template-user">
        <li class="flex justify-end mb-2">
          <div class="flex flex-col items-end">
            <p class="text-start max-w-[600px] bg-[#363636] text-white p-4 rounded-3xl"></p>
          </div>
        </li>
      </template>

      <!-- Este es el template de como se va ver el mensaje del bot -->
      <template id="template-bot">
        <li class="flex justify-start mb-2">
          <div class="flex flex-col items-start">
            <span class="flex font-bold items-center justify-center gap-2 mb-3 bg-[#363636] px-3 py-2 rounded-full">
              <i class="i-hugeicons-bot text-xl"></i>
              <span></span>
            </span>
            <p class="text-white p-2 px-3 rounded-xl"></p>
          </div>
        </li>
      </template>

    </div>


  </main>


  <script type="module">
    // Importamos el modelo de lenguaje
    import {
      CreateMLCEngine
    } from "https://esm.run/@mlc-ai/web-llm";
    // Seleccionamos el modelo pero hay muchos en la página de git del repo  de WEB-LLM
    const SELECTED_MODEL = "Llama-3.2-1B-Instruct-q4f32_1-MLC";
    // Creamos el motor de lenguaje
    const engine = await CreateMLCEngine(SELECTED_MODEL, {
      initProgressCallback: (progress) => {
        console.log(progress); // Nos muestra el progreso de la carga del modelo
        // si la carga del modelo no les da erro pues significa que si sirve en cualquier windows solo en linux no me funciona
        // porque no me detecta algun hardware o un driver
      },
    });


    $(document).ready(() => {
      const form = $('#form');


      // Aqui envio el mensaje del usuario
      form.submit((e) => {
        e.preventDefault();
        const message = form.find('input').val(); // Obtenemos el mensaje del input

        if (!message) return; // Si el mensaje esta vacio no hacemos nada

        const cloneTemplate = $('#template-user')[0].content.cloneNode(true); // Clono el template del usuario
        const span = cloneTemplate.querySelector('span'); // Obtengo el span que esta dentro del template del usuario
        const p = cloneTemplate.querySelector('p'); // Obtengo el parrafo que esta dentro del template del usuario

        if (span) {
          span.textContent = 'Tu';
        }
        p.textContent = message;

        $('.container ul').append(cloneTemplate);
        form.find('input').val('');
        $('.scrollbar').animate({
          scrollTop: $('.scrollbar')[0].scrollHeight
        }, 300);


        setTimeout(() => {
          const cloneTemplateBot = $('#template-bot')[0].content.cloneNode(true);
          const spanBot = cloneTemplateBot.querySelector('span');
          const pBot = cloneTemplateBot.querySelector('p');
          spanBot.innerHTML = '<i class="i-hugeicons-bot text-xl"></i><span>Bot</span>';
          pBot.textContent = 'Hola, soy un bot';
          $('.container ul').append(cloneTemplateBot);
          $('.scrollbar').animate({
            scrollTop: $('.scrollbar')[0].scrollHeight
          }, 300);
        }, 1000);



      });
    });
  </script>


</body>

</html>